## Tipos de datos básicos
### Cadenas de texto (Strings)
Son secuencias de caracteres que se pueden crear usando comillas simples o dobles. Cualquier contenido dentro de comillas se considera una cadena.

In [ ]:
from rich import print

In [ ]:
print('This is a string')  # Esto sigue en inglés porque es parte del código
print("This is also a string")

Podemos incluir cualquier tipo de carácter en una cadena. Sin embargo, en algunos casos queremos dar un significado especial a un carácter o suprimir su significado.
Para estas situaciones, usamos el carácter de escape `\` antes del carácter especial.

In [ ]:
print("This is a double quote: \" ")

In [ ]:
# Escapando comillas simples
print("Doble quotes (\") are important to build strings")

In [ ]:
print("This is the letter \t tab")

Existen otras secuencias de escape con significados especiales en Python:

| Secuencia Escape  | 	Significado                 |
|--------------------|-------------------------------|
| \a               |	Carácter de campana ASCII (BEL) |
| \b |	Carácter de retroceso ASCII (BS) |
|\f |	Carácter de avance de página ASCII (FF)|
|\n | Carácter de salto de línea ASCII (LF)|
|\N{<nombre>} |	Carácter Unicode con <nombre> especificado|
|\r | 	Carácter de retorno de carro ASCII (CR)|
|\t 	| Tabulación horizontal ASCII (TAB)|
|\uxxxx 	| Carácter Unicode con valor hexadecimal de 16 bits|
|\Uxxxxxxxx 	| Carácter Unicode con valor hexadecimal de 32 bits|
|\v | 	Tabulación vertical ASCII (VT)|
|\ooo |	Carácter con valor octal|
|\xhh 	| Carácter con valor hexadecimal|

In [ ]:
print("We will have a new line \nafter the initial line")  # Dos líneas

In [ ]:
print("This introduces the \ttabulator into the string")  # Se introduce una tabulación

In [ ]:
print("\x61")  # Hexadecimal

In [ ]:
print("\N{White Smiling Face}")  # Unicode por nombre

In [ ]:
happy = "\N{White Smiling Face}"

In [ ]:
print("Because I am...", happy)

Podemos usar comillas simples y dobles para crear cadenas que contengan comillas internas.

In [ ]:
print("And the police said: 'Stop there, you fool!'")

In [ ]:
print('And the police said: "Stop there, you fool!"')

Podemos formatear cadenas insertando datos de variables usando f-strings (f de formato). Útil para crear cadenas complejas.

In [ ]:
candidate = "Gustavo"
score = 100.2
print(f"The candidate {candidate} got a score of: {score}")

In [ ]:
print(f"Because I am {happy}")

Podemos obtener la longitud de una cadena con `len` y acceder a caracteres con corchetes `[]`

In [ ]:
my_string = 'This is my awesome string'
print(len(my_string))
print(my_string[3])  # Acceder al carácter en índice 3

Los corchetes también sirven para rebanar cadenas, misma lógica que en listas.

In [ ]:
print(my_string[6:])  # Desde índice 6 hasta el final

In [ ]:
print(my_string[-9:])  # Desde la posición 9 contando desde el final

In [ ]:
# Podemos usar operadores `in` y `not in` para verificar contención
long_string = "Abel, Luis, and Maria came to the party"
print("Luis" in long_string)
print("Roberta" in long_string)

Operadores como `+` y `*` permiten concatenación y repetición:

In [ ]:
# Concatenación
first_string="The answer is "
second_string = "fourty two (42)"
third_string = "... Trust me"
answer = first_string + second_string + third_string + " !!!"
print(answer)

In [ ]:
# Repetición
first_string  = "And he simply said... "
second_string = "JA " * 6  # JA JA JA JA JA JA
repeated = first_string + second_string
print(repeated)

In [ ]:
car = "this"
type(car)

Los strings son objetos de clase `str` con métodos propios.

In [ ]:
example = "hello to my little world"
example_version_2 = (example.title())
print(example_version_2)

In [ ]:
message = "Hello WORLD!, I feel embarrassed"
print(message)
print(message.title())  # Capitalizar cada palabra
print(message.upper())  # Mayúsculas
print(message.lower())  # Minúsculas
print(message.swapcase())  # Invertir mayúsculas/minúsculas
print(message.startswith("Hello"))  # Verificar inicio
print(message.startswith("hello"))

In [ ]:
# Eliminar espacios en blanco o prefijos
message = "   https://helloworld.com   "
print(message.strip())  # Eliminar espacios

In [ ]:
# Métodos encadenados
message = "   https://helloworld.com   "
print(message.strip().removeprefix('https://'))

In [ ]:
# Reemplazar subcadenas
message = "BMW is a brand of vehicles"
print(message.replace("BMW", "VW"))

In [ ]:
# Dividir cadenas usando separadores
message = "Augusto,Julia,Karl"
print(message.split(","))

In [ ]:
# Unir elementos de una lista
message = "Augusto,Julia,Karl"
message_separated = message.split(",")
print(f"{happy}".join(message_separated))

# Ejercicio:
#### Tu software recibe mensajes con datos de clientes en formato incorrecto:

    https://database.com/user/augustom,AugUSto Martin, 23, Approved,,
    https://database.com/user/juliasch,JuLIA SchmidT, 67, rejected,,
    https://database.com/user/kmarx,Karl Marx, 42, rejected,,

#### Se necesita procesar en este formato:

    message:  augustom,augustomartin,23,approved
    message:  juliasch,juliaschmidt,67,rejected
    message:  kmarx,karlmarx,42,rejected

#### __Tarea__: Usar métodos de `str` para corregir los mensajes.

In [ ]:
# Completa el código

### Números
Enteros y flotantes. Operadores aritméticos: `+`, `-`, `*`, `/`, etc.

In [ ]:
2 * 3 + 2  # Expresión que retorna 8

In [ ]:
# Variables con números
pi = 3.1416
radio = 2
print(2 * pi * radio )

Operadores aritméticos:
|Operador |	Nombre      |	Ejemplo|
|---------|-------------|---------|
|+ 	    |Suma         |	x + y 	|
|- 	    |Resta        |	x - y   |
|* 	    |Multiplicación |x * y |
|/ 	    |División     |	x / y 	|
|% 	    |Módulo       |	x % y 	|
|** 	    |Exponenciación |	x ** |
|// 	    |División entera |	x // y|

In [ ]:
print('Suma: ', 2+3)
print('Resta: ',2-3)
print('Multiplicación: ',2*3)
print('División: ',2/3)
print('Módulo: ',10%3)
print('Exponenciación: ',2**3)
print('División entera: ',10//3)

In [ ]:
# Funciones incorporadas para números
print("Redondear: ", round(3.5))
print("Valor absoluto: ", abs(-3.8))
print("Potencia: ", pow(2,3))

# Ejercicio:
#### __Tarea__: Calcular la longitud de arco de un ángulo
#### Resultado esperado:
#### Diámetro del círculo: 9
#### Ángulo: 45
#### Longitud de arco: 3.5357142857142856

### Listas
Estructuras para almacenar conjuntos de información ordenados.
- Pueden contener cualquier tipo de objeto.
- Se crean con `[]`, `list()` o comprensiones de listas.

In [ ]:
# Literales de lista
my_list = [1,2,3,4]
print(my_list)
print("Tipo de objeto: ", type(my_list))

In [ ]:
# Constructor list()
print(list([1,2,3,4]))
print(list("Hello World!"))

In [ ]:
# Listas con múltiples tipos
print([1, 2.0, 'Juan'])

In [ ]:
# Indexación y rebanado
my_list = [1,34,56,6,93,12,45,67]
print(my_list[2])
print(my_list[5:])
print(my_list[-2:])

In [ ]:
brands = ["BMW", "VW", "Renault"]
print(f"The brand I like the most is {brands[2]}")

In [ ]:
# Añadir elementos
brands = ["BMW", "VW"]
brands.append('Renault')

In [ ]:
# Modificar elementos
brands[0] = 'Porsche'

In [ ]:
# Eliminar elementos
del brands[0]
popped_brand = brands.pop(0)
brands.remove('BMW')

In [ ]:
# Ordenar listas
brands = ["BMW", "VW", "renault","BMW","BMW"]
brands.sort()
brands.sort(reverse=True)

In [ ]:
# List comprehension para modificar elementos
brands = [name.lower() for name in brands]
brands = [name.upper() for name in sorted(brands)]

In [ ]:
# Operadores en listas
brands_EU = ["BMW", "VW", "RENAULT","BMW","BMW"]
brands_USA= ["GMC","TESLA"]
all_brands = brands_EU + brands_USA
print(brands_USA * 2)